<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker" />
    <add key="greaterWins" value="1" />
    <!-- you should propably add your own email adress -->
    <add key="senderEamil" value="tim@iamtimcorey.com"/>
    <add key="senderName" value="Tournament Tracker"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="tim" password="testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=(localdb)\MSSQLLocalDB;Database=Tournaments;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>